#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/modifiers.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#include "behaviors.dtsi"
#include "macros.dtsi"
#include "combos.dtsi"

/ {
    chosen { zmk,physical-layout = &charybdis_6col_layout; };
};

#define BASE 0
#define POINTER 1
#define RAISE 2
#define LOWER 3
#define SCROLL 4
#define SNIPING 5
#define CONFIG 6

/ {
    keymap {
        compatible = "zmk,keymap";
        sensor-bindings = <&scroll_up_down>;

        base_layer {
            label = "BASE";
            display-name = "Base";
            bindings = <
&kp ESC            &kp N1  &kp N2   &kp N3     &kp N4            &kp N5          &kp N6       &kp N7      &kp N8  &kp N9       &kp N0         &kp HOME
&kp TAB            &kp Q   &kp W    &kp E      &kp R             &kp T           &kp Y        &kp U       &kp I   &kp O        &kp P          &kp END
&skq LEFT_CONTROL  &kp A   &kp S    &kp D      &kp F             &kp G           &kp H        &kp J       &kp K   &kp L        &kp SEMICOLON  &to 3
&skq LSHFT         &kp Z   &lt 1 X  &kp C      &kp V             &kp B           &kp B        &kp N       &kp M   &lt 1 COMMA  &kp PERIOD     &kp RSHFT
                                    &kp SPACE  &kp LEFT_CONTROL  &kp LEFT_ALT    &kp LWIN     &kp RETURN
                                               &kp BACKSPACE     &lt 2 DELETE    &lt 3 SPACE
            >;
        };

        pointer_layer {
            label = "POINTER";
            display-name = "Pointer";
            bindings = <
&trans  &none     &none         &none             &none             &none            &none     &none       &none                   &none              &none     &none
&trans  &none     &none         &none             &none             &none            &mkp MB4  &mkp MB5    &kp LG(LC(LEFT_ARROW))  &kp LG(LC(RIGHT))  &none     &none
&trans  &kp LWIN  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LSHFT         &kp LS(LG(S))    &kp C_PP  &kp RSHIFT  &kp RIGHT_CONTROL       &kp RIGHT_ALT      &kp RWIN  &none
&trans  &none     &none         &mo 4             &kp LEFT_CONTROL  &mo 5            &mkp MB1  &mkp MB2    &mkp MB3                &none              &none     &trans
                                &mkp MB1          &mkp MB3          &mkp MB2         &mkp MB3  &mkp MB2
                                                  &none             &kp LG(TAB)      &mkp MB1
            >;
        };

        raise_layer {
            label = "RAISE";
            display-name = "Lower";
            bindings = <
&kp F12   &kp F1  &kp F2          &kp F3          &kp F4           &kp F5               &kp F6           &kp F7           &kp F8           &kp F9  &kp F10    &kp F11
&none     &none   &none           &none           &none            &kp C_MUTE           &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none   &kp PLUS   &kp MINUS
&none     &none   &kp PAGE_UP     &kp UP_ARROW    &kp PAGE_DOWN    &kp C_VOLUME_UP      &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none   &kp ASTRK  &kp SLASH
&kp CAPS  &none   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp C_VOLUME_DOWN    &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none   &kp EQUAL  &none
                                  &trans          &trans           &trans               &kp RCTRL        &kp KP_NUMBER_0
                                                  &none            &none                &kp PERIOD
            >;
        };

        lower_layer {
            label = "LOWER";
            display-name = "Symbols";
            bindings = <
&kp F12  &kp F1          &kp F2    &kp F3         &kp F4     &kp F5                  &kp F6                 &kp F7         &kp F8        &kp F9         &kp F10           &kp F11
&none    &none           &kp HASH  &e_tilde       &kp CARET  &kp LEFT_BRACE          &kp RIGHT_BRACE        &u_tilde       &i_tilde      &o_tilde       &none             &kp GRAVE
&trans   &a_tilde        &kp AT    &none          &none      &kp LEFT_BRACKET        &kp RIGHT_BRACKET      &kp DOLLAR     &euro         &pound         &trans            &kp APOSTROPHE
&trans   &kp UNDERSCORE  &kp FSLH  &kp BACKSLASH  &kp PIPE   &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &n_tilde       &kp QUESTION  &kp LESS_THAN  &kp GREATER_THAN  &to 0
                                   &trans         &trans     &trans                  &kp PAGE_UP            &kp PAGE_DOWN
                                                  &trans     &trans                  &trans
            >;
        };

        scroll_layer {
            label = "SCROLL";
            display-name = "Scroll";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
                                &trans  &trans    &trans
            >;
        };

        sniping_layer {
            label = "SNIPING";
            display-name = "Sniping";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans
                                &trans  &trans    &trans
            >;
        };

        config_layer {
            label = "CONFIG";
            display-name = "Config";
            bindings = <
&kp ESC  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp KP_NUMBER_4  &kp KP_NUMBER_5    &kp KP_NUMBER_6  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_NUMBER_0  &none
&none    &none            &none            &none            &none            &none              &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &none            &none
&none    &none            &kp C_PREV       &kp C_PP         &kp C_NEXT       &none              &kp F23          &kp F24          &rgb_brt_mm      &rgb_hue_mm      &rgb_eff_mm      &bootloader
&none    &rgb_ug RGB_ON   &rgb_ug RGB_BRI  &none            &rgb_ug RGB_EFF  &none              &bt BT_CLR       &bt BT_CLR_ALL   &rgb_pow_mm      &none            &none            &to 0
                                           &none            &none            &none              &none            &none
                                                            &none            &none              &kp RETURN
            >;
        };

        pointer_only {
            label = "POINTERONLY";
            display-name = "POINTERONLY";
            bindings = <
&trans  &none     &none         &none             &none             &none            &none     &none       &none                   &none              &none     &none
&trans  &none     &none         &none             &none             &none            &mkp MB4  &mkp MB5    &kp LG(LC(LEFT_ARROW))  &kp LG(LC(RIGHT))  &none     &none
&trans  &kp LWIN  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LSHFT         &kp LS(LG(S))    &kp C_PP  &kp RSHIFT  &kp RIGHT_CONTROL       &kp RIGHT_ALT      &kp RWIN  &none
&trans  &none     &none         &mo 4             &kp LEFT_CONTROL  &mo 5            &mkp MB1  &mkp MB2    &mkp MB3                &none              &none     &to 0
                                &mkp MB1          &mkp MB3          &mkp MB2         &mkp MB3  &mkp MB2
                                                  &none             &kp LG(TAB)      &mkp MB1
            >;
        };
    };
};
